@media (min-width: 730px) {    
    body {
        text-align: center;
        margin: 0 auto
    }

    article {
        margin-top: 5%;
        width: 100%;
        background: rgb(53, 50, 50)
    }

    .article-container {
        margin-bottom: 3%;
    }

    .todo-h3 {
        color: #fff
    }

    .first {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
        color: #fff;
        text-align: left;
    }

    .first p {
        text-transform: capitalize;
    }

    .second {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
        color: #fff;
        text-align: right;
    }

    .container {
        padding: 10px;
        margin: 10px
    }

    input {
        height: 30px;
        width: 70%;
        border: none;
        padding-left: 20px
    }

    button {
        background: rgb(62, 175, 240);
        width: 20%;
        margin-left: 2%;
        height: 30px;
        border: none;
        color: #fff;
        cursor: pointer
    }

    .form-submit-section {
        background: rgb(19, 18, 18);
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 4px;
        width: 50%;
        justify-content: center;
        align-items: center;
        margin: 0 auto
    }

    .form-submit-section p {
        color: #fff
    }

    .deleteItem {
        background: rgb(246, 41, 41)
    }

    /*TOGGLE*/
    .t {
        width: 50px;
        height: 25px;
        border-radius: 20px;
        border: 1pz solid #999;
        background-color: #fff;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: space-arounde;
    }

    .t-icon {
        width: 25px;
        height: 25px;
    }

    .t-button {
        width: 25px;
        height: 25px;
        border-radius: 50px;
        background-color: #999;
        position: absolute;
        cursor: pointer;
    }
}

@media (max-width: 729px) {
    body {
        text-align: center;
        margin: 0 auto
    }

    article {
        margin-top: 5%;
        width: 100%;
        background: rgb(53, 50, 50)
    }

    .article-container {
        margin-bottom: 3%;
    }

    .todo-h3 {
        color: #fff
    }

    .first {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
        color: #fff;
        text-align: left;
    }

    .first p {
        text-transform: capitalize;
    }

    .second {
        display: inline-block;
        vertical-align: middle;
        width: 55%;
        color: #fff;
        text-align: right;
    }

    .container {
        padding: 10px;
        margin: 10px
    }

    input {
        height: 30px;
        width: 70%;
        border: none;
        padding-left: 20px
    }

    button {
        background: rgb(62, 175, 240);
        width: 20%;
        margin-left: 2%;
        height: 30px;
        border: none;
        color: #fff;
        cursor: pointer
    }

    .form-submit-section {
        background: rgb(19, 18, 18);
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 4px;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto
    }

    .form-submit-section p {
        color: #fff
    }

    .deleteItem {
        background: rgb(246, 41, 41)
    }

    /*TOGGLE*/
    .t {
        width: 50px;
        height: 25px;
        border-radius: 20px;
        border: 1pz solid #999;
        background-color: #fff;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: space-arounde;
    }

    .t-icon {
        width: 25px;
        height: 25px;
    }

    .t-button {
        width: 25px;
        height: 25px;
        border-radius: 50px;
        background-color: #999;
        position: absolute;
        cursor: pointer;
    }
}